<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
    <title>Books</title>
  </head>
  <body>
    <nav aria-label="Paginator" style="margin: 25px;">
      <nav aria-label="paginator">
        <ul class="pagination justify-content-center">
          {% if page == 1%}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Назад</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="index{{page - 1}}.html" tabindex="-1" aria-disabled="false">Назад</a>
            </li>
          {% endif %}

          {% for page_number in range(1, total_pages + 1) %}
            {% if page_number == page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{page_number}}.html">{{page_number}} <span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{page_number}}.html">{{ page_number }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page == total_pages %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Вперед</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="index{{page + 1}}.html" tabindex="-1" aria-disabled="false">Вперед</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </nav>

    {% for book in books %}
      <div class="container">
        <div class="row">
          <div class="card border-secondary mb-3 col-sm" style="max-width: 540px; margin-right: 20px; padding: 0px;">
            <div class="row no-gutters">
              <div class="col-md-4" style="padding-left: 0px;">
                <img src="../{{ book[0].img_src }}" class="card-img" alt="{{ book.title }} img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book[0].title }}</h5>
                  <p class="card-text">{{ book[0].author }}</p>
                  {% for genre in book[0].genres %}
                    <span class="badge badge-info">{{ genre }}</span>
                  {% endfor %}
                  <hr>
                  <a class="card-text" href="../{{ book[0].book_path.replace(' ', '%20') }}">Читать</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-secondary mb-3 col-sm" style="max-width: 540px; padding: 0px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../{{ book[1].img_src }}" class="card-img" alt="{{ book[-1].title }} img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book[1].title }}</h5>
                  <p class="card-text">{{ book[1].author }}</p>
                  {% for genre in book[1].genres %}
                    <span class="badge badge-info">{{ genre }}</span>
                  {% endfor %}
                  <hr>
                  <a class="card-text" href="../{{ book[1].book_path.replace(' ', '%20') }}">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </body>
</html>